.center{
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 100%;
}
.container .category-card{
    width: 100%;
    border: 1px solid;
}
.add-item{
    text-align: left;
}
.edit-item{
   text-align: right;
}
.price_item{
    margin-top: -60px;
    text-align: right;
    color: red;
}
.item_title{
    color: saddlebrown;
}
.item_img-zoom{
    width: 90%;
    height: 350px;
    overflow: hidden;
    border: 1px solid #ddd;
    cursor: pointer;
}
