.reset_wrapper{
    max-width: 600px;
    width: 50%;
    padding: 45px;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.125);
    margin: 45px auto;
    background-color: #FFFFFF;
    border-radius: 5px;
    border: 1px solid;
    border-top: 10px solid darkblue;
}
.reset_button{
    width: 100%;
    padding: 8px 10px;
    font-size: 15px;
    color: #fff;
    cursor: pointer;
    border-radius: 3px;
    margin-top: -20px;
}
.reset_title{
      text-align: center;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 30px;
  }
